/*Import Vendor CSS here*/
@import '../bootstrap.css';

/*Main SCSS Styles*/

/*Variables and Mixins*/
$medium: 720px;
$small:480px;

/*Elements*/
h1{
	color:#666666;
	@media screen and (max-width: $small){
		font-size:24px;
	}
}
button{
	&.lg{
		width:90%;
		padding:20px;
		margin:10px 0px;
		font-size:24px;
		font-weight:bold;
		text-shadow:0px 1px 1px #000;
	}
}
.fish-icon{
	width:25px;
	height:25px;
	background-image:url(../../assets/fish.svg);
	background-size:25px 25px;
	display:block;
}

/*Sections And States*/
#wrapper{
	width:320px;

}
.front-page{
	margin:20px 0px 0px 0px;
}
.col-centered{
	margin:0 auto;
	text-align:center;
}
/*Ajax Loader*/
.loading{
	position:fixed;
	left:0;
	right:0;
	top:0;
	bottom:0;
	z-index:1000;
	background:#FFFFFF;
	width:100%;
	height:100%;
	text-align:center;

	img{
		position:relative;
		top:50%;
	}
}
.loaded{
	display:none;
}
/*google maps*/
.angular-google-map-container { height: 300px; }

.modal-body{
	float:left;
	.radio{
		float:left;
		margin:5px;
	}
	.radio-selected{
			color: #fff;
			background-color: #449d44;
			border-color: #398439;
	}
	input[name=species]{
		display:none;
	}
}