<div class="modal-header">
    <h3 class="modal-title">Add Fish</h3>
</div>
<div class="modal-body">
    <ul>
        <li ng-repeat="item in items">
            <a ng-click="selected.item = item">{{ item }}</a>
        </li>
    </ul>
    <h4>Species:</h4>
    <label ng-repeat="specie in species" ng-click="select($index)" for="{{specie}}" class="radio btn" ng-class=" selected[$index] ? 'btn-success radio-selected' : 'btn-success'">
    	<input type="radio" name="species" id="{{specie}}" ng-model="fish.species" value="{{specie}}">{{specie}}</label>
</div>
<div class="modal-footer">
    <button class="btn btn-primary" ng-click="ok()"> + Add</button>
    <button class="btn btn-warning" ng-click="cancel()">Cancel</button>
</div>