<div>
	<h1>{{id}}</h1>
	<div class="snapshot">
		<h3>Snapshots</h3>
		<table class="table table-striped">
			<thead>
				<td>Time</td>
				<td>Temperature</td>
				<td>Condition</td>
				<td>Dewpoint</td>
				<td>Humidity</td>
				<td>Pressure(in.)</td>
				<td>Wind</td>
			</thead>
			<tr ng-repeat="snapshot in snapshots">
				<td>{{snapshot.timestamp}}</td>
				<td>{{snapshot.temperature}}</td>
				<td>{{snapshot.condition}}</td>
				<td>{{snapshot.dewpoint}}</td>
				<td>{{snapshot.humidity}}</td>
				<td>{{snapshot.pressure.in}}</td>
				<td>{{snapshot.wind.speed}} MPH, {{snapshot.wind.direction}}</td>
			</tr>
		</table>
	</div>
	
	<button ng-click="openModal()" class="btn btn-success"> + Fish</button> <a href="#/trips" class="btn btn-danger">Back</a>
</div>