<div ng-controller="TripController">
	<h2>My Trips</h2>
	<div id="trips-container">
		<table class="table table-striped">
			<thead>
				<td>Date</td>
				<td>Location</td>
				<td>Temperature</td>
			</thead>
			<tr ng-repeat="trip in trips">
				<td><a href="#/trips/{{trip.id}}">{{trip.start_time}}</a></td>
				<td><a href="#/trips/{{trip.id}}">{{trip.origin[0].city}}</a></td>
				<td><a href="#/trips/{{trip.id}}">{{trip.snapshots[0].temperature}}</a></td>
			</tr>
		</table>

		<button class="btn btn-primary" ng-click="createTrip()">Take Snapshot</button>
	</div>
</div>